.header-bg {
  background: url("../images/desktop/image-hero.jpg") no-repeat center/cover;
  height: 100vh;
}

.header-nav,
.header-menu {
  display: flex;
  flex-wrap: wrap;
}

.mobile-menu {
  display: none;
}

.header-nav {
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
  margin-bottom: 120px;
}

.header {
  margin-bottom: 90px;
}

.header h1 {
  color: var(--white);
  max-width: 13ch;
  line-height: 1.2;
  font-size: 4rem;
  border: 3px solid var(--white);
  padding: 2rem 2.5rem;
}

.header-menu {
  gap: 20px;
}

.header-menu a {
  color: var(--white);
  transition: 0.2s;
}

.header-menu a:hover {
  transform: scale(1.1);
}

@media (max-width: 375px) {
  .header-bg {
    background: url("../images/mobile/image-hero.jpg") no-repeat center/cover;
    height: 70vh;
  }
  .header {
    margin-bottom: 60px;
  }

  .header-nav {
    padding: 1.2rem 0;
    position: relative;
  }

  .header-nav img {
    max-width: 80%;
  }

  .header-menu {
    display: none;
  }

  .header-nav img,
  .mobile-menu {
    position: relative;
    z-index: 1;
  }

  .mobile-menu {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-left: auto;
    cursor: pointer;
    padding: 5px 0;
  }

  .mobile-menu span {
    display: inline-block;
    border: none;
    background: var(--white);
    height: 3px;
    width: 30px;
    border-radius: 5px;
    transition: 0.2s;
  }

  .mobile-menu.ativo span:first-child {
    transform: rotate(45deg) translate(20%);
  }

  .mobile-menu.ativo span:last-child {
    transform: rotate(-45deg) translate(20%);
  }

  .mobile-menu.ativo span:nth-child(2) {
    display: none;
  }

  .header-menu.ativo {
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: center;
    height: 63vh;
    background: var(--black);
    top: 0;
    left: -2rem;
    right: -2rem;
    padding: 2rem;
    gap: 40px;
    z-index: 0;
  }

  .header-menu.ativo a {
    font-size: 2rem;
    text-transform: uppercase;
  }

  .header h1 {
    color: var(--white);
    max-width: 13ch;
    line-height: 1.2;
    font-size: 2rem;
    border: 3px solid var(--white);
    padding: 1rem 2rem;
  }
}
